@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

/* green */
/* #336666 */
/* rgb(51, 102, 102) */
/* orange */
/* #F2955E */
/* rgb(242, 149, 94) */
/* turqoise */
/* #30D5C8 */
/* rgb(48, 213, 200) */

/* #left-contact {
  z-index: 100;
  height: 0px;
  width: 0px;
  font-size: 30px;
  position: relative;
  border: 1px solid red;
} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}

/* Header  */


#toppuzzle {
  z-index: 10;
  width: 100%;
  position: fixed;
}
#toppuzzle ul{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
#onpage {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  color: #F2955E;
  background-color: white;
}
li {
  list-style: none;  
}
a {
  font-size: 1.2rem;
  text-shadow: 0 0 1px white;
  color: black;
}
#puzzle-down-gallery-header img{
  width:100%;
  margin-top: -1px;
}






/* MAIN  */

#section2 {
  display: flex;
  background-color: #D9D4CC;
}

#gallery-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* Pueblos */
#pueblos-all {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
}
#pueblos-header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 31px;
}
#pueblos-header img {
  width: 100%;
}
#pueblos-header-text {
  z-index: 1;
  width: 100%;
  position: sticky;
  top: 80px;
  font-size: 3.8rem;
}
#pueblos-main {
  height: 500px;
  width: 100%;
  display: flex;
  position: sticky;
  top: -350px;
  flex-direction: column;
  background-size: cover;
 
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5)), url(img/gallery/pueblo/Copper-Pueblo-Sculpture-MAIN.png);
}
.tagline-header {
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagline-header span {
  width: 100%;
  position: relative;
  top: 50px;
  font-size: 1rem;
  letter-spacing: 3px;
  
}
#box-dropdown {
  z-index: 2;
  margin-bottom:70px;
  color: black;
  background-color: #30D5C8;
}

.dropped {
  width: 100%;
  margin-bottom: 10px;
  display: none;

  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5));

  /* background-image: linear-gradient(360deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5)), url(img/gallery/mirror/Sheet-Mirror.png); */
}
#border-dropped-puzzle img {
  width: 100%;
}

#mirrorflex img {
  height: 160px;
  width: 160px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
}
.dropped img:hover {
  box-shadow: 5px 5px 5px 4px black(255, 255, 255, 0.9);
}
#mirrorflex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.puzzle-down {
  z-index: 1;
  display: flex;
  background: transparent;
}
.puzzle-down img{
  width: 100%;
}





#nature-main {
  height: 500px;
  width: 100%;
  margin-top: -20px;
  padding-top: 20px;
  position: sticky;
  top: -400px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5)), url(img/gallery/wildlife/quail-alt.jpeg);
}
#mirrors-main {
  z-index: 1;
  height: 500px;
  width: 100%;
  padding-top: 40px;
  position: sticky;
  top: -360px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5)), url(img/gallery/mirror/Sheet-Mirror.png);
}



.nature-box-content {
  height: 100%;
  width: 100%;
}
#nature-header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 120px;
  font-size: 1rem;
}
#nature-header a {
  text-decoration: none;
  color: black;
}
.mirrors-box-content {
  height: 100%;
}
#mirrors-header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 240px;
  font-size: 1rem;
}
#mirrors-header a {
  text-decoration: none;
  color: black;
}



.real-header-nature {
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 5px;
}
.real-header-mirror {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 5px;
}

.tagline-header-last {
  height: 40%;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 10px;
  color: black;
}

.puzzle-down-last {
  display: flex;
}
.puzzle-down-last img{
  width: 100%;
}


/* Misc */
#zigzag img {
  width:100%;
  position: relative;
  top: -5px;
}

#zigzagPueblo img{
  width: 100%;
  position: relative;
  top: 7px;
}
#header-nature {
  width: 100%;
  font-size: 1rem;
  letter-spacing: 5px;
}
#onpagezigzag img {
  width:100%;
  position: relative;
  top: 7px;
}
#zigzagP {
  width: 100%;
  position: relative;
  top: 15px;
}





/* footer  */
footer{
  z-index: 10;
  height: 22px;
  width: 100%;
  gap: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  border-top: black 1.5px solid;
  background: linear-gradient(70deg, rgb(242, 149, 94), rgba(217, 212, 204, .5));
  }
  footer span {
    margin-left: 10px;
  }
  footer a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer a svg{
    height: 25px;
    color: black;
  }
  footer a svg:hover{
    height: 40px;
  }

  #nd svg:hover {
    width: 30px;
  }
  #ig svg:hover {
    width: 20px;
  }

/* Modal stuff */
.modal-content {
  z-index: 10; /* Sit on top */
  height: 80%; /* Full height */
  width: 95%; /* Full width */
  margin: 12% auto; /* 15% from the top and centered */
  position: fixed; /* Stay in place */
  left: 2.5%;
  top: 0;
  display: none; /* Hidden by default */
}

.insidemodalcontent {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: rgba(0, 0, 0, 0.85);
}

.insidemodalcontent img {
  height: 360px;
  width: 98%;
  margin-top: 30px;
  margin-left: 4px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
}
.insidemodalcontent span {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 10px;
  border-bottom: black 5px solid;
  border-top: black 5px solid;
  color: black;
  background-color: #F2955E;
}

#outsidemodalcontent {
  height: 60px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(158, 153, 153, 0.9);

}
  
#outsidemodalcontent div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px;
  font-weight: bold;
  border-top: 5px solid black;
  border-top: #F2955E 5px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  background-color: #F2955E;
}

#outsidemodalcontent div:hover {
  letter-spacing: -1px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #F2955E;
  background-color: black;
  
}










