@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');


/* #336666 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  /* font-style: italic; */
  margin-bottom: 50px;
  background-color: #D9D4CC;
}

header {
  background-color: #F2955E;
}

#toppuzzle {
  position: fixed;
  z-index: 5;
  height: 41px;
}

#bottompuzzle {
  position: fixed;
  top: 10px;
  height: 80px;
  z-index: 4;
}

#onpagezigzag img {

  width:100%;
  position: relative;
  top: 7px;
  background-color: #F2955E;
}
#onpage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
  background-color: #F2955E;

}
#zigzag img {
  width:100%;
  position: relative;
  top: -5px;
}

#zigzagP {
  width: 100%;
  position: relative;
  top: 15px;

}


ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #336666;
}
li {
  text-decoration: none;
  list-style: none;
}
li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
  text-shadow: 0 0 1px white;
}


@media only screen and (max-width: 1500px) {
  #section2 {
    /* margin-top: 60px; */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D9D4CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* #galleryheader {
    font-size: 4.5rem;
  } */
  #gallery-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
  }


  .main-box-content {
    display: flex;
    justify-content: center;
  }
  #mirrors-main {
    z-index: 1;
    position: sticky;
    top: 40px;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,.2)); */
    background-image: linear-gradient(70deg, rgba(242, 149, 94, 0.5), rgb(143, 139, 139)),
    url(img/gallery/mirror/Framed-Mirror-Main.png);
    background-size: cover;
    background-position: left;

    border-bottom: 10px solid #F2955E;
    /* border-right: 20px solid #F2955E; */

    /* text-shadow: 0 0 3px #ffffff; */
    color: white;
  }



  #pueblos-main {
    z-index: 3;
    position: sticky;
    top: -80px;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,.2)); */
    background-image: linear-gradient(70deg, rgba(242, 149, 94, 0.5), rgb(143, 139, 139)),
    url(img/gallery/pueblo/Copper-Pueblo-Sculpture-MAIN.png);
    background-size: cover;
    background-position: left;
    border-top: 10px solid #F2955E;
    border-bottom: 10px solid #F2955E;
    /* border-right: 20px solid #F2955E; */

    margin-top: 15px;
    /* text-shadow: 0 0 3px #ffffff; */
  }
  .pueblos-box-bg {
    width: 100%;
    height: 120px;
    /* background-image: url(img/gallery/mirror/Framed-Mirror-Main.png); */
  }
  .pueblos-box-content {

    width: 100%;
    color: white;
    /* color: white; */
  }



  #wildlife-main {
    z-index: 2;
    position: sticky;
    top: -15px;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,.2)); */
    background-image: linear-gradient(70deg, rgba(242, 149, 94, 0.5), rgb(143, 139, 139)),
    url(img/gallery/wildlife/quail-alt.jpeg);
    background-size: cover;
    background-position: left;

    border-bottom: 10px solid #F2955E;
    /* border-right: 20px solid #F2955E; */

    /* text-shadow: 0 0 3px #ffffff; */
  }
  .wildlife-box-bg {
    width: 100%;
    height: 120px;
    /* background-image: url(img/gallery/mirror/Framed-Mirror-Main.png); */
  }
  .wildlife-box-content {
    width: 100%;
    color: white;
    /* color: white; */
  }


  #header {
    font-size: 2.5rem;
    letter-spacing: 20px;
    margin-left: 5%;
  }

  #mirrors-dropped {
    width: 100%;
    display: none;
    background-color: #F2955E;
    background: linear-gradient(180deg, rgba(242, 149, 94, 1), rgba(242, 149, 94, .5));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #mirrors-dropped-desc {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  #mirrors-dropped img {
    width: 160px;
    height: 160px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  }

  #mirrors-dropped img:hover {
    box-shadow: 5px 5px 5px 4px black(255, 255, 255, 0.9);
  }




  
  
  #mirrorflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    width: 100%;
  }
  #mirrorflex div {
    border-radius: 2px;
  }
  







  footer{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border-top: black 1.5px solid;
    position: fixed;
    bottom: 0;
    height: 22px;
    width: 100%;
    /* background: rgba(242, 149, 94, .9); */
    background: linear-gradient(70deg, rgb(242, 149, 94), rgba(217, 212, 204, .5));
    }
    footer span {
      margin-left: 10px;
    }
    footer a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    footer a svg{
      height: 25px;
      color: black;
    }
    footer a svg:hover{
      height: 40px;
    }

    #nd svg:hover {
      width: 30px;
    }
    #ig svg:hover {
      width: 20px;
    }





    .modal-content {
      position: fixed; /* Stay in place */
      z-index: 10; /* Sit on top */
      left: 2.5%;
      top: 0;
      width: 95%; /* Full width */
      height: 80%; /* Full height */
      display: none; /* Hidden by default */
      margin: 12% auto; /* 15% from the top and centered */
    }
    
    .insidemodalcontent {
      display: flex;
      flex-direction: column;
      margin: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.85);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .insidemodalcontent img {
      margin-top: 30px;
      width: 98%;
      height: 360px;
      margin-left: 4px;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);

     
    }
    .insidemodalcontent span {
      height: 100px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: black;
      letter-spacing: 10px;
      /* border-bottom: #30D5C8 20px solid; */
      background-color: #F2955E;
      margin-top: 50px;
      margin-bottom: 20px;
      border-bottom: black 5px solid;
      border-top: black 5px solid;
      
    }
    
    #outsidemodalcontent {
      height: 60px;
      background-color: rgba(158, 153, 153, 0.9);
      text-align: center;
      /* border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px; */

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    #outsidemodalcontent div {
      width: 100%;
      height: 100%;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: #F2955E 5px solid;
      letter-spacing: 10px;
      font-weight: bold;
      background-color: #F2955E;
      color: black;
      border-top: 5px solid black;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

    }

    #outsidemodalcontent div:hover {
      letter-spacing: -1px;
      cursor: pointer;
      background-color: black;
      color: #F2955E;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
}











/* #mirror1 {
    width: 170px;
    height: 170px;
  } */

  /* #mirror1 .content span {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
  }
  #mirror1  .content img{
    width: 100%;
    height: 100%;
  }
  #mirror1 .content div {
    margin-top: 20px;
    width: 40%;
    height: 35%;
  }
  #mirror1  .content {
    display: flex;
    flex-wrap: wrap;
  }
  #mirror1 .content span {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
  } */

  /* .hovereffect { */
    /* height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    cursor: zoom-in; */
  

    /* overflow: hidden; */
    
  /* } */
  /* .hovereffect > .content { */
    /* text-align: center;
    position: absolute;
    inset: 0;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 360px; */
    /* z-index: 1; */

  /* } */
  /* .hovereffect > img,
  .hovereffect > .content { */
    /* transition: 300ms ease-in-out;
    display: flex;
    align-items: center; */
  /* }
  .hovereffect:hover > .content.fade {
    opacity: 0;

  }
  .hovereffect > .content.fade {
    opacity: 0;
  }
  .hovereffect:hover > .content.fade {
    opacity: 1;
  }
  .hovereffect:hover > img.blur {
    filter: blur(5px);
  } */
  

