@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

/* green */
/* #336666 */
/* rgb(51, 102, 102) */
/* orange */
/* #F2955E */
/* rgb(242, 149, 94) */
/* turqoise */
/* #30D5C8 */
/* rgb(48, 213, 200) */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Playfair Display', serif;
}
a {
  text-decoration: none;
}


/* HEADER  */
nav {
  z-index: 4;
  width: 100%;
  position: fixed;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
#page-header {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #F2955E;
}
li {
  list-style: none;  
}
a {
  font-size: 1.2rem;
  color: black;
}
#puzzle-down-gallery-header img{
  width:100%;
  margin-top: -1px;
}


/* MAIN */
#gallery-main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tagline-header {
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagline-header span {
  width: 100%;
  position: relative;
  top: 50px;
  font-size: 1rem;
  letter-spacing: 2px;
}
/* pueblos */
#pueblos-header {
  z-index: 3;
  margin-top: 160px;
  position: sticky;
  top: 31px;
}
#pueblos-header img {
  width: 100%;
}
#pueblos-main {
  height: 500px;
  width: 100%;
  margin-top: -180px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -375px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5)), url(img/gallery/pueblo/Copper-Pueblo-Sculpture-MAIN.png);
}
#pueblos-header-text {
  margin-bottom: 30px;
  position: sticky;
  top: 100px;
  font-size: 2.8rem;
}
/* nature  */
#nature-header {
  z-index: 2;
  margin-top: 180px;
  position: sticky;
  top: 88px;
}
#nature-header img {
  width: 100%;
  position: relative;
  bottom: 50px;
}
#nature-main {
  height: 500px;
  width: 100%;
  margin-top: -221px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -375px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5)), url(img/gallery/wildlife/quail-alt.jpeg);
}
#nature-header-text {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
  position: sticky;
  top: 100px;
  font-size: 2.8rem;
}
/* mirrors  */
#mirrors-header {
  z-index: 1;
  margin-top: 160px;
  position: sticky;
  top: 105px;
}
#mirrors-header img {
  width: 100%;
  position: relative;
  bottom: 70px;
}
#mirrors-main {
  height: 500px;
  width: 100%;
  margin-top: -220px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -375px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5)), url(img/gallery/mirror/Sheet-Mirror.png);
}
#mirrors-header-text {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
  position: sticky;
  top: 150px;
  font-size: 2.8rem;
}


/* DROPPED */
.dropped {
  display: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgb(255, 255, 255, .5));
}
.thumbnail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.thumbnail img {
  height: 140px;
  width: 140px;
  margin: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
}
/* pueblos */
#pueblos-dropdown {
  margin-bottom: 13px;
  color: black;
  border-top: 2px solid #30D5C8;
  border-bottom: 2px solid #30D5C8;
}
/* nature */
#nature-dropdown {
  margin-bottom: 13px;
  color: black;
  border-top: 2px solid #30D5C8;
  border-bottom: 2px solid #30D5C8;
}
/* mirrors */
#mirrors-dropdown {
  margin-bottom: 13px;
  color: black;
  border-top: 2px solid #30D5C8;
  border-bottom: 2px solid #30D5C8;
}















/* footer  */
footer{
  z-index: 10;
  height: 22px;
  width: 100%;
  gap: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  border-top: black 1.5px solid;
  background: linear-gradient(70deg, rgb(242, 149, 94), rgba(217, 212, 204, .5));
  }
  footer span {
    margin-left: 10px;
  }
  footer a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer a svg{
    height: 25px;
    color: black;
  }
  footer a svg:hover{
    height: 40px;
  }

  #nd svg:hover {
    width: 30px;
  }
  #ig svg:hover {
    width: 20px;
  }

/* Modal stuff */
.modal-content {
  z-index: 10; /* Sit on top */
  height: 80%; /* Full height */
  width: 95%; /* Full width */
  margin: 12% auto; /* 15% from the top and centered */
  position: fixed; /* Stay in place */
  left: 2.5%;
  top: 0;
  display: none; /* Hidden by default */
}

.insidemodalcontent {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: rgba(0, 0, 0, 0.85);
}

.insidemodalcontent img {
  height: 360px;
  width: 98%;
  margin-top: 30px;
  margin-left: 4px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
}
.insidemodalcontent span {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 10px;
  border-bottom: black 5px solid;
  border-top: black 5px solid;
  color: black;
  background-color: #F2955E;
}

#outsidemodalcontent {
  height: 60px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(158, 153, 153, 0.9);

}
  
#outsidemodalcontent div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px;
  font-weight: bold;
  border-top: 5px solid black;
  border-top: #F2955E 5px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  background-color: #F2955E;
}

#outsidemodalcontent div:hover {
  letter-spacing: -1px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #F2955E;
  background-color: black;
  
}










